a{
    color: inherit;
    text-decoration: inherit;
}

.RightAside{
    display: flex;
    flex-direction: column;
    background-color:#F6F7F9;
    width:230px;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom:5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.RightAside--FaTimesCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top:38px;
    margin-bottom:40px;
    width: 26px;
    height: 26px;
    z-index:999;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    cursor: pointer;
  }
  .FaTimesCircle{
    z-index:999;
    font-size:56px;
  }
  .RightAside--FaTimesCircle {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.137);
  }
  
  .RightAside--FaTimesCircle:hover::before, .RightAside--FaTimesCircle:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffe602;
    border-radius:50%;
    z-index:1;
    animation: 1.2s clockwise infinite;
  }
  
  .RightAside--FaTimesCircle:hover:after {
    background: #ffffff;
    animation: 2s counterclockwise infinite;
    width: 26px;
    height: 26px;
  }
  

  @keyframes clockwise {
    0% {
      top: -6px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -6px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }







.RightAsideBox{
    border-radius:15px;
    margin-top:5px;
    padding-left :18px;
    padding-right:18px;
    padding-bottom:10px;
    background:white;
    position: relative;
    
}
.FaTwitter{
    padding:6px;
    border-radius:50%;
    margin-top:16px;
    margin-bottom:16px;
    font-size:.8em;
    background-color: #E7F6F9;
    color:#60A3B3;
    text-align: center;
    cursor: pointer;
}
.BoxLogoImdb{
  width:28px;
  height:28px;
    border-radius:50%;
}
.RightAsideBox--sub-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.RABox--S-header--left{
    display: flex;
    align-items: center;

}
.RABox--S-header--left > div > div{
    display: flex;
    align-items: center;
}

.RABox--S-header--left > div > div p{
    display: block;
    color:#090909;
    font-size:.6em;
    margin: 0;
    padding: 0;
    margin-left:6px;
    margin-bottom:0px;
    cursor: pointer;
}
.FaCheckCircle{
  position: relative;
  color:#529699;
  margin: 0;
  margin-left:3px;
  font-size:.6em;
  cursor: pointer;
}
.RABox--S-header--left > div span{
  display: block;
    color:#E3E3E3;
    padding: 0;
    font-weight: 200;
    font-size:.6em;
    margin:0px;
    cursor: pointer;
}


.RABox--S-header--right{
  position: relative;
}

.FaEllipsisV{
    font-size:11px;
    color:black;
    align-items: center;
    background-color:#F6F7F9;
    padding:4px 6px;
    cursor: pointer;
}

.RABox--S-header--right:hover > .toltip{
  display: block;
}
.toltip{
  display: none;
    position: absolute;
    top:35%;
    right:100%;
    background-color:rgb(255, 255, 255);
    padding:2px 12px;
    padding-right:20px;
    border-radius:8px 0px 8px 8px ;
    box-shadow:rgba(0, 0, 0, 0.089) 0 0 50px;
}
.toltip:hover{
  display: block;
}

.toltip p {
    color:rgba(0, 0, 0, 0.781) !important;
    margin:2px;
}

  


.like{
  position: absolute;
  transition: 1s all;
  top:30%;
  right:30%;
}

.like:hover{
  transition: 1s all;
  color:red !important;
}



.FaHeart{

  color:rgba(255, 0, 0, 0.637) !important;
  font-size:90px;

}






.RightAsideBox h3{
    margin-top:20px;
    text-align: start;
    text-shadow:#3f3f3f 1px 0 55px;
    font-size:.8em;
    font-weight:inherit;
    line-height:1.4;
    margin-bottom:15px;
    cursor: pointer;
}
.RightAsideBox p{
    text-align: start;
    color:#979797;
    font-size:.7em !important;
    cursor: pointer;
}

.RightAsideBox > img{
    width:100%;
    height:95px;
    border-radius:10px;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .RightAside{
        width:100%;
    }
}