.searchBox{
    display: flex;
    align-items: center;
}

.search--input{
    border:0;
    width:630px;
    padding:16px 10px 16px 18px ;
    border-radius:10px;
    background-color:#F6F7F9;
    font-size:11.5;
}

.searchBox--number{
    margin-left:15px;
    padding:1px 6.5px 1.5px 6.5px ;
    border-radius:50%;
    font-size:11px;
    color:#ffe2e3;
    background-color:#c75f68;
    font-weight:unset !important;
    box-shadow:#00000028 0px 0 12px; 
    cursor: pointer;

}
.searchBox--text{
display: flex; 
font-family: sans-serif;
margin-left:8px;
font-size :11px;
font-weight:600;
color:black;
text-shadow:#00000036 0px 0 12px; 
cursor: pointer;

}

.BoxHeader{
    display: flex;
    margin-top:45px;
}

#BoxImgHeader{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    width:28%;
    height:160px;
    border-radius:13px;
    background-size: cover;
    font-size:13px;
    padding:0 25px 5px 25px;
    font-family: 'open_sans';
    font-weight:300;
}

.Lionking{
    background:url(./Roi-lion-1-1-2.jpg) 40% 40% ;
    background-size: cover;

}
.Rambo{
    width:19% !important;
    margin-left:10px;
    background-image:url(./rambo.jpg); 
    background-size: cover;
}
.FaPlay{
    display:flex;
    width:100%;
 }
.FaPlay:hover{
        opacity:.7;
}
.Lionking .FaPlay{
    margin-bottom:15% !important;
}
.Rambo .FaPlay{
    margin-bottom:38% !important;
}

.BoxLinkedHeader{
    height:100%;
    padding:1px;
    margin-left:11px;
    margin-right:11px;
}

.Facebook-Box{
    display:flex;
    width:145px;
    padding:15px 14px ;
    align-items: center ;
    justify-content: center;
    margin-bottom:10px !important;
    border-radius:15px;
    background-color:#6532FB;
}

.FaFacebookF{
    font-size:20px;
    color:white;
}
.Facebook-Box--text{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    color: white;
}
.Facebook-Box--text p{
    display:flex;
    margin: 0;
    margin-top: 8px;
    font-size:10px;
}

.FaLongArrowAltRight{
    display: block;
    margin: 0;
    margin-top:5px;
}

.SnapShot-Box{
    display:flex;
    padding:21px 40px ;
    padding-left:0;
    align-items: center ;
    justify-content: center;
    border-radius:15px;
    background-color:#FBFFFB;
    box-shadow:rgb(228, 228, 228) 0 0 5px;

}

.SnapShot-Box--imog{
    display: block;
    margin: 0 !important;
    width:25px;
    height:24px;
}

.SnapShot-Box--text{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    color: black;
}
.SnapShot-Box--text p{
    display: block;
    margin: 0;
    margin-top: 5px;
    font-size:10px;
}

.SnapShot-Box--text span{
    font-size:10px;
    color:#928D8A;
}

.endBox{
    padding:2px;
    margin-left:10px;
}

.viewAllBox{
    display: flex;   
    align-items: center;
    justify-content: center;
    width:80px !important;
    height:42%;
    margin-bottom:9px;
    font-size:11px;
    border-radius:15px;
    background-color:#FBFFFB;
    box-shadow:rgb(228, 228, 228) 0 0 5px;
    cursor: pointer;
}

.IMDBBox{
    border-radius:15px;
}

.IMDBImg{
    border-radius:15px;
    width:80px !important;
    height: auto !important;
    cursor: pointer;

}