.MainContent{
    margin-left:40px;

}

.MainContent--TitleTheme{
    display: block;
    font-family: sans-serif;
    margin-bottom:28px;
    font-size:28px;
    font-weight:700 !important;
    text-shadow:#36363638 0px 0 12px; 
}
.MainContent--TitleTheme2{
    display: block;
    font-family: sans-serif;
    margin-top:58px;
    margin-bottom:28px;
    font-size:23px;
    font-weight:700 !important;
    text-shadow:#2f2f2f38 0px 0 12px; 
}
.MainContent--TitleTheme2 span{
    color:#B6B6B6;
}

#marginingPoster{
    margin-left:10px;
    margin-right:10px;
}

.POSTERIMG{
    width:calc(33.3% - 10px);
    height:400px;
    border-radius:13px;
}

