.LeftAside{
    width:240px;
    height:100%;
    border-radius:20px;
    background:#141414;
    padding-bottom:20px;
    margin-bottom:10px;
}
.header-box{
    padding: 6px;
}
.headerImg{
    border-radius:17px;
    height:160px;
    margin: 0;
    margin-bottom:5px;
}
.LeftAsideItem{
    padding:18px;
    padding-bottom:7px;
    border-radius:12px;
    margin: 0;
    margin-bottom:18px;
}
.TitleContent{
    color:#BABABA;
    font-size:9px;
    display: flex;
    justify-content: space-between;
}
.iconsToggler{
    cursor: pointer;
    width:8px;
    height:8px;
    filter: invert(52%) sepia(1%) saturate(2565%) hue-rotate(316deg) brightness(69%) contrast(56%) ;
}
.TogglerInnerItem{
    display: none;
    text-align: center;
}
.LeftAsideInnerItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}
.LeftAsideInnerItem--MainContent{
    display: flex;
    align-items: center;
}
.text-innerItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-left:6px;
}
.Title-Movie{
    font-size:9px;
    color:#e0e0e0;
    margin: 0;
    margin-top:2px;
    margin-bottom:2px;
}
.Sales-Movie{
    font-size:8.3px;
    color: #777777;
}
.Score-Movie{
    font-size:9px;
    color: #AEA994;
}
.logoMovie{
    width:34px;
    height:34px;
    border-radius:4.8px;
}

.foter-LeftAsideInnerItem{
    display:block;
    margin-top:20px;
    padding-bottom:10px;
    font-size:8.5px;
    color:#e0e0e0c5;
    border-bottom:.5px #18181878 solid;
}
