body {
  width:100%;
  margin: 0;
    padding: 0;
  font-family: 'open_sansbold';
  background-color:#FFFFFF;
}
img{
  width: 100%;
  height:auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.principalContent{
  width: 76%;
}
.TotalContent{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.centeralContent{
  display: flex;
  padding-left:18px;
}

