nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100% !important;
    padding:20px;
    padding-left:36px;
    padding-right:30px;
}

.nav-logo{
    width:70px;
    height:35px;
}

li{
    list-style:none;
}

.nav-text{
    display: flex;
    align-items: center;
}

.nav--text--item{
    font-family: 'open_sansbold';
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin:12px;
    margin-right:18px;
    font-size:10px !important;

    text-shadow:0 0px 25px rgb(117, 117, 117);
}


.FaAngleDown1:hover ,.FaAngleDown2:hover , .FaAngleDown3:hover{
    color:#ffd500;
    cursor: pointer;
}

.DropDownNav{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index:1;
    width:100%;
    height:90px;
    top:150%;
    left:0;
    padding:6px;
    padding-top:3px;
    padding-bottom:12px;
    background-image: url(./bg-DropDown.gif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:7px;
    text-align: left;
}
.DropDownNav li {
    margin-bottom:10px;
    color: white;
}

.DropDownNav li span {
    font-size:18px;
    color:#FFD600;
}

.humber-nav{
    font-size:20px;
    display: none;
    margin:12px;
    cursor: pointer;

}

@media screen and (max-width: 600px) {
    nav{
        align-items: unset;
        text-align: center;

    }
    .humber-nav{
        display:block;
    }
    .nav-text{
        margin-right:45px;
        align-items: center;
        text-align: center;
        width:100%;
        margin-top:50px;

    }
    .nav--text--item{
        
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    nav{
        justify-self: center;
        justify-items: center;
    }
    .nav-text{
        flex-direction: column;
    }

}